MIO
{
  "name": "JOB_WATCHER_TEMPLATE",
  "nodes": [
    {
      "parameters": {
        "url": "__PAGE_URL__",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [208, 0],
      "id": "__NODE_ID_HTTP__",
      "name": "HTTP Request __SOURCE__"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.body ?? $input.first().json.data ?? '';\n\n// 1) Take main content\nconst mainMatch = html.match(/<main[^>]*id=[\"']content[\"'][^>]*>([\\s\\S]*?)<\\/main>/i);\nconst mainHtml = mainMatch ? mainMatch[1] : html;\n\n// 2) Extract Elementor text-editor blocks\nconst blocks = [];\nconst re = /elementor-widget-text-editor[\\s\\S]*?<div class=\\\"elementor-widget-container\\\">([\\s\\S]*?)<\\\\/div>/gi;\n\nlet m;\nwhile ((m = re.exec(mainHtml)) !== null) {\n  blocks.push(m[1]);\n}\n\n// 3) Fallback if none found\nconst targetHtml = blocks.length ? blocks.join('\\n') : mainHtml;\n\n// 4) HTML -> text\nlet text = targetHtml\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&#8217;/g, '’')\n  .replace(/&#8211;/g, '–')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nreturn [{\n  json: {\n    source: '__SOURCE__',\n    page_url: '__PAGE_URL__',\n    no_job_text: '__NO_JOB_TEXT__',\n    main_text: text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, 0],
      "id": "__NODE_ID_EXTRACT__",
      "name": "Extract job"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "__COND_ID_NOJOB__",
              "leftValue": "={{ $json.main_text }}",
              "rightValue": "={{ $json.no_job_text }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [624, 0],
      "id": "__NODE_ID_IF_NOJOB__",
      "name": "If no job"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [896, -304],
      "id": "__NODE_ID_END__",
      "name": "end"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "__OPENAI_MODEL__",
          "mode": "list",
          "cachedResultName": "__OPENAI_MODEL_CACHED__"
        },
        "responses": {
          "values": [
            {
              "content": "=You extract job offers from a recruitment webpage. Return STRICT JSON only (no markdown). If no offers exist, return []. Each object: title, url, posted_at (or null), summary, deadline (or null), contact (or null).\n\njob : {{ $json.main_text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [896, -128],
      "id": "__NODE_ID_OPENAI__",
      "name": "JSON new offer",
      "credentials": {
        "openAiApi": {
          "id": "__OPENAI_CRED_ID__",
          "name": "__OPENAI_CRED_NAME__"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1264, 0],
      "id": "__NODE_ID_MERGE__",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const inputs = $input.all();\n\n// 0 = OpenAI output, 1 = context (source/page_url/main_text)\nconst ai = inputs[0]?.json ?? {};\nconst ctx = inputs[1]?.json ?? {};\n\nconst source = ctx.source ?? null;\nconst page_url = ctx.page_url ?? null;\n\nconst text = ai?.output?.[0]?.content?.[0]?.text;\n\nif (!text || (typeof text === 'string' && text.trim() === '')) {\n  return [];\n}\n\nlet offers;\ntry {\n  offers = JSON.parse(text);\n} catch (e) {\n  return [];\n}\n\nif (!Array.isArray(offers) || offers.length === 0) {\n  return [];\n}\n\nreturn offers.map(o => ({\n  json: {\n    source,\n    title: o.title ?? null,\n    url: o.url ?? page_url ?? null,\n    posted_at: o.posted_at ?? null,\n    summary: o.summary ?? null,\n    deadline: o.deadline ?? null,\n    contact: o.contact ?? null,\n    raw: o\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1488, 0],
      "id": "__NODE_ID_PARSE__",
      "name": "Create n8n item"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "__DATATABLE_ID__",
          "mode": "list",
          "cachedResultName": "__DATATABLE_NAME__",
          "cachedResultUrl": "/projects/__PROJECT_ID__/datatables/__DATATABLE_ID__"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            { "keyName": "source", "keyValue": "={{ $json.source }}" },
            { "keyName": "title", "keyValue": "={{ $json.title }}" },
            { "keyName": "url", "keyValue": "={{ $json.url }}" },
            { "keyName": "posted_at", "keyValue": "={{ $json.posted_at }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [1712, 0],
      "id": "__NODE_ID_ROW_NOT_EXISTS__",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "__DATATABLE_ID__",
          "mode": "list",
          "cachedResultName": "__DATATABLE_NAME__",
          "cachedResultUrl": "/projects/__PROJECT_ID__/datatables/__DATATABLE_ID__"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source": "={{ $json.source }}",
            "title": "={{ $json.title }}",
            "url": "={{ $json.url }}",
            "posted_at": "={{ $json.posted_at }}",
            "summary": "={{ $json.summary }}",
            "deadline": "={{ $json.deadline }}",
            "contact": "={{ $json.contact }}",
            "raw": "={{ JSON.stringify($json.raw) }}"
          },
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [1936, 0],
      "id": "__NODE_ID_INSERT__",
      "name": "Insert row"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "__GOOGLE_SHEET_URL_OR_ID__",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "__GOOGLE_SHEET_TAB_NAME__",
          "mode": "list",
          "cachedResultName": "__GOOGLE_SHEET_TAB_NAME__",
          "cachedResultUrl": "__GOOGLE_SHEET_URL__#gid=__GID__"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source": "={{ $json.source }}",
            "title": "={{ $json.title }}",
            "url": "={{ $json.url }}",
            "posted_at": "={{ $json.posted_at }}",
            "summary": "={{ $json.summary }}",
            "deadline": "={{ $json.deadline }}",
            "contact": "={{ $json.contact }}",
            "inserted_at": "={{ $now }}"
          },
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [2144, 160],
      "id": "__NODE_ID_SHEETS__",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "__GOOGLE_CRED_ID__",
          "name": "__GOOGLE_CRED_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all().map(i => i.json);\n\nif (jobs.length === 0) return [];\n\nconst source = jobs[0].source ?? 'Unknown';\n\nconst body = jobs.map((j) => {\n  return [\n    `New job at ${j.source ?? source}`,\n    `Title : ${j.title ?? ''}`,\n    `url : ${j.url ?? ''}`,\n    `posted_at : ${j.posted_at ?? ''}`,\n    `summary : ${j.summary ?? ''}`,\n    `deadline : ${j.deadline ?? ''}`,\n    `contact : ${j.contact ?? ''}`,\n    `------------------------------`\n  ].join('\\n');\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    subject: `🆕 ${jobs.length} new job(s) at ${source}`,\n    email_body: body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2144, 0],
      "id": "__NODE_ID_DIGEST__",
      "name": "build single email"
    },
    {
      "parameters": {
        "fromEmail": "__FROM_EMAIL__",
        "toEmail": "__TO_EMAIL__",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2320, 0],
      "id": "__NODE_ID_EMAIL__",
      "name": "Send email",
      "webhookId": "__WEBHOOK_ID__",
      "credentials": {
        "smtp": {
          "id": "__SMTP_CRED_ID__",
          "name": "__SMTP_CRED_NAME__"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "__NODE_ID_SCHEDULE__",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "HTTP Request __SOURCE__", "type": "main", "index": 0 }]]
    },
    "HTTP Request __SOURCE__": {
      "main": [[{ "node": "Extract job", "type": "main", "index": 0 }]]
    },
    "Extract job": {
      "main": [[{ "node": "If no job", "type": "main", "index": 0 }]]
    },
    "If no job": {
      "main": [
        [{ "node": "end", "type": "main", "index": 0 }],
        [
          { "node": "JSON new offer", "type": "main", "index": 0 },
          { "node": "Merge", "type": "main", "index": 1 }
        ]
      ]
    },
    "JSON new offer": {
      "main": [[{ "node": "Merge", "type": "main", "index": 0 }]]
    },
    "Merge": {
      "main": [[{ "node": "Create n8n item", "type": "main", "index": 0 }]]
    },
    "Create n8n item": {
      "main": [[{ "node": "If row does not exist", "type": "main", "index": 0 }]]
    },
    "If row does not exist": {
      "main": [[{ "node": "Insert row", "type": "main", "index": 0 }]]
    },
    "Insert row": {
      "main": [
        [
          { "node": "build single email", "type": "main", "index": 0 },
          { "node": "Append row in sheet", "type": "main", "index": 0 }
        ]
      ]
    },
    "build single email": {
      "main": [[{ "node": "Send email", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 2
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "__WORKFLOW_ID__",
  "tags": []
}
